.projectList,
.projectsHeader {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}

.projectsHeader {
  h1 {
    padding-top: 96px;
    margin-bottom: 24px;
  }
  P {
    padding-bottom: 48px;
  }
}

.projectList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
