.header {
  margin-bottom: 69px;
  font-family: ArkibalMono, sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  color: #475a61;

  .threeDLogo {
    height: 70vh;

    @media screen and (max-width: 1260px) {
      height: 65vh;
    }

    @media screen and (max-width: 750px) {
      height: 55vh;
    }

    @media screen and (max-width: 680px) {
      height: 50vh;
    }

    @media screen and (max-width: 460px) {
      height: 45vh;
    }

  }

  h1 {
    width: 80%;
    margin: 32px auto 0;
    font-size: 1.7rem;
    line-height: 1.3em;
    @media screen and (max-width: 1260px) {
      font-size: 1.5rem;
    }
    @media screen and (max-width: 1028px) {
      font-size: 1.4rem;
    }
    @media screen and (max-width: 898px) {
      width: 95%;
    }

    @media screen and (max-width: 680px) {
      font-size: 1.2rem;
    }

    @media screen and (max-width: 460px) {
      font-size: 1.1rem;
    }
  }


}