.toolCard {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(208, 208, 216, 0.5);
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.06);

    .toolImageWrapper {
      .img {
        filter: none;
      }
    }
  }
}

.toolImageWrapper {
  img {
    height: 42px;
    width: auto;
    //filter: grayscale(0.5);
  }

  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 32px;
  padding-bottom: 32px;
}

.description {
  background: rgba(59, 75, 93, 0.15);
  flex-grow: 1;
  padding: 8px;
  margin: 4px;
  border-radius: 8px;

  h3 {
    font-family: ArkibalMono, sans-serif;
    font-size: 13px;
    margin: 8px 0;
    color: #313c49;
  }

  p {
    opacity: 0.9;
    font-size: 15px;
    font-family: Reckless, serif;
    line-height: 24px;
    letter-spacing: 1px;
    display: none;
  }
}
