.LinkBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  aspect-ratio: 1;
  background: #764adb21;
  border-radius: 15%;
  transition: all 0.5s;
  position: relative;

  @media screen and (max-width: 890px) {
    width: 42px;
  }

  &:hover {
    transform: scale(1.2);
    background: rgba(59, 75, 93, 0.31);

    .tooltips {
      opacity: 1;
    }
  }

  svg {
    fill: currentColor;
  }

  img {
    height: 32px;
    width: auto;

    @media screen and (max-width: 890px) {
      width: 20px;
    }
  }

  .tooltips {
    display: block;
    position: absolute;
    top: -40%;
    font-size: .8rem;
    background-color: #764adb;
    color: white;
    padding: .2rem;
    border-radius: 3px;
    opacity: 0;
  }
}
