.header {
  font-family: Reckless, serif;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 69px;
  padding-bottom: 69px;
  letter-spacing: 3px;
  font-size: 58px;
  line-height: 82px;
  width: 1090px;
}
