.loginBtn {
  background-color: #d7dde7ff;
  display: flex;
  width: max-content;
  padding: 0.8rem 2.4rem;
  color: #313c49;
  align-items: center;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: White;
  }

  span {
    margin-right: 1em;
  }

  img {
    height: 1.6em;
    width: auto;
  }
}
