.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;

  div {
    display: flex;
    ul {
      display: flex;
      padding: 64px 0 ;
      li {
        margin-right: 42px;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .menuRight {
      margin-left: auto;
    }
  }
}