.websiteLink {
  display: flex;
  width: 100%;
  background-color: #3B4B5D19;
  padding: 2rem 1.4rem;
  font-weight: lighter;
  margin: 1rem 0;

  .icon {
    width: 1.4rem;
    display: flex;

    img {
      margin-top: auto;
      width: 100%;
      height: auto;
    }
  }

  .wrapper {
    flex-grow: 1;
    display: flex;

    div {

      h3 {
        color: #764adb;
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
      }
    }

    .link {
      display: flex;
      text-align: center;
      flex-grow: 1;
      flex-direction: column-reverse;
    }
  }
}