.websiteLink {
  font-size: 1rem;
  border-bottom: 2px solid rgba(59, 75, 93, 0.15);
  padding: 16px 0;
  width: 100%;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  @media screen and (max-width: 720px) {
    font-size: 0.9rem;
  }

  &:first-of-type {
    border-top: 2px solid rgba(59, 75, 93, 0.15);
  }

  .icon {
    display: inline-block;
    height: 100%;
    margin-left: auto;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;

    img {
      height: 1.5em;
      width: auto;
      max-width: 32px;
    }
  }

  &:hover {
    color: #313c49;
    border-bottom: 2px solid #313c49;
    .icon {
      opacity: 1;
    }
  }
}
