.btn {
  font-size: 22px;
  text-transform: uppercase;
  height: 52px;
  background-color: #313C4930;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 42px;
  border-radius: 35px;
}