.navbar {
  display: flex;
  align-items: center;
  margin-top: 69px;

  @media screen and (max-width: 876px) {
    margin-top: 32px;
  }

}

.btnWrapper {
  margin-left: auto;
}

.logo {
  img {

    @media screen and (max-width: 1440px) {
      width: 42px;
    }

    @media screen and (max-width: 470px) {
      width: 36px;
    }
    width: 52px;
    height: auto;
  }
}

